<ion-content>

  <div id="container">

    <div id="header">
      <ion-label id="headertext">My Angular Application</ion-label>
    </div>

    <div id="logo">
      <img id="image" src="assets/login.png" alt="login image">
    </div>

    <div id="textinputarea">
      <ion-item id='textinput'>
        <ion-label position="floating">User Name</ion-label>
        <ion-input type="text" [(ngModel)]='username'></ion-input>
      </ion-item>
    </div>

    <div id="textinputarea">
      <ion-item id="textinput">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]='password'></ion-input>
      </ion-item>
    </div>

    <div id="loginbuttonarea">
      <ion-button id='button' (click)="showAlert()">Login</ion-button>
    </div>

  </div>

</ion-content>